<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.air-menu.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>mensch-bold.ttf</string>
		<string>mensch-inline.ttf</string>
		<string>mensch-thin.ttf</string>
		<string>mensch.ttf</string>
		<string>ionicons.ttf</string>
		<string>GothamHTF-Black.otf</string>
		<string>GothamHTF-BlackItalic.otf</string>
		<string>GothamHTF-Bold.otf</string>
		<string>GothamHTF-BoldCondensed.otf</string>
		<string>GothamHTF-BoldItalic.otf</string>
		<string>GothamHTF-Book.otf</string>
		<string>GothamHTF-BookCondensed.otf</string>
		<string>GothamHTF-BookItalic.otf</string>
		<string>GothamHTF-Light.otf</string>
		<string>GothamHTF-LightCondensed.otf</string>
		<string>GothamHTF-LightItalic.otf</string>
		<string>GothamHTF-Medium.otf</string>
		<string>GothamHTF-MediumCondensed.otf</string>
		<string>GothamHTF-Thin.otf</string>
		<string>GothamHTF-ThinItalic.otf</string>
		<string>GothamHTF-Ultra.otf</string>
		<string>GothamHTF-UltraItalic.otf</string>
		<string>GothamHTF-XLight.otf</string>
		<string>GothamHTF-XLightItalic.otf</string>
		<string>GothamNarrow-Black.otf</string>
		<string>GothamNarrow-BlackItalic.otf</string>
		<string>GothamNarrow-Bold.otf</string>
		<string>GothamNarrow-BoldItalic.otf</string>
		<string>GothamNarrow-Book.otf</string>
		<string>GothamNarrow-BookItalic.otf</string>
		<string>GothamNarrow-Light.otf</string>
		<string>GothamNarrow-LightItalic.otf</string>
		<string>GothamNarrow-Medium.otf</string>
		<string>GothamNarrow-MediumItalic.otf</string>
		<string>GothamNarrow-Thin.otf</string>
		<string>GothamNarrow-ThinItalic.otf</string>
		<string>GothamNarrow-Ultra.otf</string>
		<string>GothamNarrow-UltraItalic.otf</string>
		<string>GothamNarrow-XLight.otf</string>
		<string>GothamNarrow-XLightItalic.otf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIViewEdgeAntialiasing</key>
	<true/>
</dict>
</plist>
